<% include base/header.ejs %>
<div class="container">

    <input class="btn btn-default" type="button" id="getAccessToken" value="获取token">
    <p id="AccessToken" style="overflow: hidden"><%= AccessToken %></p>

    <input class="btn btn-default" type="button" id="getMenu" value="获取菜单（会获得个性化菜单）">
    <input class="btn btn-default" type="button" id="createMenu" value="创建菜单">
    <input class="btn btn-default" type="button" id="deleteMenu" value="删除菜单">
    <input class="btn btn-default" type="button" id="addConditionalMenu" value="创建个性化菜单">
    <input class="btn btn-default" type="button" id="delconditionalMenu" value="删除个性化菜单">
    <p id="menu"></p>

    <input class="btn btn-default" type="button" id="getUser" value="获得用户">
    <p id="user"></p>

    <input class="btn btn-default" type="button" id="addKF" value="添加客服">
    <p id="kfAccount"></p>

    <input class="btn btn-default" type="button" id="tempUpload" value="上传临时素材">
    <input class="btn btn-default" type="button" id="getTempUpload" value="获取临时素材">
    <input class="btn btn-default" type="button" id="uploadMaterial" value="上传永久素材">
    <input class="btn btn-default" type="button" id="getMaterial" value="获取永久素材">
    <input class="btn btn-default" type="button" id="getStaticCount" value="获取素材总数">
    <input class="btn btn-default" type="button" id="getBatchMaterial" value="获取素材列表">
    <p id="upload" style="word-break:break-all"></p>

    <input class="btn btn-default" type="button" id="createTemp" value="创建临时二维码">
    <input class="btn btn-default" type="button" id="createStatic" value="创建永久二维码">
    <input class="btn btn-default" type="button" id="getQrcode" value="获取二维码">
    <p id="qrcode" style="word-break:break-all"></p>

</div>

<% include base/script.ejs %>

<!-- access token script -->
<script>
    $('#getAccessToken').on('click', function () {
        $.post('/token/getAccessToken', function (data) {
            var AccessToken = data;
            console.log(data);
            $('#AccessToken').text(data);
        })
    });
</script>

<!-- menu script -->
<script>
    $('#getMenu').on('click', function () {
        $.get('/menu/getMenu', function (data) {
            if (data.errcode) {
                $('#menu').html(data.errcode + '-----' + data.errmsg);
            } else {
                //1.自定义菜单
                var str = getButtonHtml(data.menu.button);

                //2.个性化菜单
                if (data.conditionalmenu) {
                    data.conditionalmenu.forEach(function (data) {
                        str += `<br/>${data.menuid}+    `;
                        str += `<input type='radio' name='conditionalmenuId' value="${data.menuid}" />`;
                        str += `${JSON.stringify(data.matchrule)}`;
                        str += getButtonHtml(data.button);
                    })
                }
                $('#menu').html(str);
            }
        })

        function getButtonHtml(data) {
            var str = "<ul>";
            data.forEach(function (result) {
                str += `<li> ${result.name}`;
                if (result.sub_button.length != 0) {
                    str += `<ul>`;
                    result.sub_button.forEach(function (result2) {
                        str += `<li><a href="${result2.url}">${result2.name}</a></li>`;
                    });
                    str += `</ul>`
                }
                str += `</li>`;
            });
            str += "</ul>"
            return str;
        }
    });

    $('#createMenu').on('click', function () {
        $.post('/menu/createMenu', function (data) {
            $('#menu').html(JSON.stringify(data));
        })
    });

    $('#deleteMenu').on('click', function () {
        $.get('/menu/remove.do', function (data) {
            $('#menu').html(JSON.stringify(data));
        });
    });

    $('#addConditionalMenu').on('click', function () {
        $.post('/menu/addConditional.do', function (data) {
            $('#menu').html(JSON.stringify(data));
        });
    });

    $('#delconditionalMenu').on('click', function () {
        var result = $('input[name="conditionalmenuId"]:checked').val();
        $.post('/menu/delconditional.do', {menuId: result}, function (data) {
            $('#menu').html(JSON.stringify(data));
        });
    });
</script>

<!-- user script -->
<script>
    $('#getUser').on('click', function () {
        $.get('/user/get.do', function (data) {
            $('#user').html(JSON.stringify(data));
        })
    });
</script>

<!-- kfAccount script  -->
<script>
    $('#addKF').on('click', function () {
        $.post('/kfaccount/add.do', function (data) {
            $('#kfAccount').html(JSON.stringify(data));
        })
    });
</script>

<!-- upload script-->
<script>
    $('#tempUpload').on('click', function () {
        $.post('/upload/tempUpload.do', function (data) {
            $('#upload').html(JSON.stringify(data));
        })
    });

    $('#getTempUpload').on('click', function () {
        $.get('/upload/getTemp.do', function (data) {
            $('#upload').html(JSON.stringify(data));
        })
    });

    $('#uploadMaterial').on('click', function () {
        $.post('/upload/uploadMaterial.do', function (data) {
            $('#upload').html(JSON.stringify(data));
        })
    });

    $('#getMaterial').on('click', function () {
        $.get('/upload/getMaterial.do', function (data) {
            $('#upload').html(JSON.stringify(data));
        })
    });

    $('#getStaticCount').on('click', function () {
        $.get('/upload/getStaticCount.do', function (data) {
            $('#upload').html(JSON.stringify(data));
        })
    });

    $('#getBatchMaterial').on('click', function () {
        $.post('/upload/getBatchMaterial.do', function (data) {
            var str = ""
            data.item.forEach((rs)=> {
                str += '<p>' + JSON.stringify(rs) + '</p>'
            });
            str += `item_count:${data.item_count}`;
            str += `<br/>item_count:${data.total_count}`;
            $('#upload').html(str);
        }, 'json')
    });
</script>

<script>
    $('#createTemp').on('click', function () {
        $.post('/qrcode/createTemp.do', function (data) {
            $('#qrcode').html(JSON.stringify(data));
        });
    });
    $('#createStatic').on('click', function () {
        $.post('/qrcode/createStatic.do', function (data) {
            $('#qrcode').html(JSON.stringify(data));
        });
    });

    $('#getQrcode').on('click', function () {
        $.get('/qrcode/get.do', function (data) {
            $('#qrcode').html(`<img src=${JSON.stringify(data)}>`);
        });
    });
</script>

<% include base/footer.ejs %>